@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Jeju Gothic';
    color: #37474F;
}

body {
    font-family: 'Nanum Gothic';
    background-color: #78909C;
}

.navbar {
    background-color: #263238;
    border-bottom: 3px solid #37474F;
}